doctype html
html
	head
		title Communication
		meta(charset="UTF-8")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		link(rel="stylesheet" href="stylesheets/main.css")
	body
		header.header
			h1.header--title Palaverit ja viestintä
		section.problem
			.container
				.row
					.col-sm-8
						.story
							h2 On kolea Tammikuinen päivä...
							p ... ja Pekka Oy:n idyllisissä tiloissa TJ Pekka Pekkonen silmäilee tarkkaavaisesti yrityksensä tuoreita talouslaskelmia. Nämä synkät luvut ovat vieneet lujana miehenä tunnetun Pekkosen yöunet tullessaan ja mies toteaakin, että uusien tuulien on aika alkaa puhaltaa, jotta yritys selviytyisi alkavasta vuodesta. TJ Pekkonen päättääkin investoida järjestelmään, tarkoituksenaan tehostaa hänen ja työntekijöidensä tehokkuutta.
							p Keskusteltuaan henkilöstön kanssa eri mahdollisuuksista lämpöisen kahvikupposen ääressä Pekka valitsee Ilari Oy:n järjestelmä kehittäjäkseen.
						.facts
							a.btn.btn-default.btn-sm.facts--open-btn(role="button" data-toggle="collapse" href="#problem-facts" aria-expanded="false" aria-controls="problem-facts") 
								| Katso faktat 
								span.glyphicon.glyphicon-screenshot
							#problem-facts.collapse.well
								h2.facts--title Yritys A tarvitsee uuden järjestelmän tehostaakseen toimintaansa
								ul.facts--list
									li Otettava selvää alan yrityksistä
									li Ilmoitettava alaisille tulevista muutoksista ja oltava valmis kuuntelemaan heidän kantansa.
									li Huomioon tulee ottaa myös seikka, että onko siirtymä edes taloudellisesti kannattava; tuleeko vanha systeemi sittenkin halvemmaksi?  
					.col-sm-4
						img.img-responsive(src="images/problem.jpg" alt="Problem")
		section.first-call
			.overlay.overlay-black
			h2.first-call--title Pekka ottaa yhteyttä Ilari Raijas OY:seen. Toisessa päässä puhelimeen vastaa guru...

		section.developer
			.container
				.story
					.row
						.col-sm-5
							img.img-responsive(src="images/ilari.jpg" alt="Ilari")
						.col-sm-7
							h2 Ilari lukeutuu Linus Torvaldsin kaltaisiin...
							p ... tietotekniikan suurmiehiin.  Pitkän ja antoisan keskustelun jälkeen herrat sopivat palaverista, jossa kaksikko joukkoineen tullee erittelemään yhteistyönsä pelisäännöt.
				
				.story
					.row
						.col-sm-12
							p Tehokkuudestaan tunnettu Ilari rupeaa jo samana iltana valmistelemaan palaveria  ottaen selvää tuoreen asiakkaansa taustoista ja varaa neuvottelutilan seuraavaksi aamuksi.
							img.img-responsive(src="images/pekka-research.jpg" alt="Pekka research")

				.story
					.row
						.col-sm-7
							h2 Seuraavana päivänä kukonlaulun aikaan...
							p ... Ilari Oy:n konttorissa Ilari kutsuu omat asiantuntijansa neuvottelupöydän ääreen. Aikainen ajankohta ja pieni varoitusaika aiheuttaa työntekijöissä pientä närää, jonka Ilari huomaa. Pitkän pöydän päästä johtaja pahoittelee tilannetta ystävällisesti. Pian osanottajien ärtymys alkaa laantua ja kertoessa Pekka Oy:n hälyttävästä tilanteesta saa Ilari huoneessa täyden huomion ja tuen. Seuraavien työntäyteisten tuntien aikana tulevalle yritysten väliselle palaverille laaditaan ohjelma.
							.facts
								a.btn.btn-default.btn-sm.facts--open-btn(role="button" data-toggle="collapse" href="#developer-facts" aria-expanded="false" aria-controls="developer-facts") 
									| Katso faktat 
									span.glyphicon.glyphicon-screenshot
								#developer-facts.collapse.well
									h2.facts--title Yritys A tarvitsee uuden järjestelmän tehostaakseen toimintaansa
									ul.facts--list
										li Työntekijöiden nopeaa reagointia kannattaa kiittää ja painottaa tilauksen tärkeyttä, jotta nopea aikataulu sulatetaan paremmin
										li Valmistellaan ideat
										li Kysytään itseltä, mitä palaverilta odotetaan sen päätyttyä ja valmistaudutaan sen mukaisesti
										li Tutustutaan Pekka OY:een, tunnetaan yritys…
										li Monimuotoisuuteen valmistautuminen (kulttuurierot)

						.col-sm-5
							img.img-responsive(src="images/developer-meeting.jpg" alt="Developer meeting")



				
		section.client-meeting
			.overlay.overlay-black
			h2.client-meeting--title Hyvinkin pian suuri päivä koittaa ja osapuolet löytävät itsensä kauniiksi katetun neuvottelupöydän ääressä...

		section.meeting-start
			.container
				.story
					.row
						.col-sm-5
							img.img-responsive(src="images/woman-mac.jpg" alt="Woman mac")
						.col-sm-7
							p Tilassa elää mukavan seurallinen henki ja small-talk raikaa. Lopulta kuitenkin bleisereihin ja pikkutakkeihin pukeutuneet naiset ja herrat istuutuvat pöydän ääreen keskustelemaan Pekka Oy:n tekemästä hankkeesta.
							p Pitkän palaverin välissä nautitaan Ilari Oy:n konttorin antimista, mutta primäärinä tarkoituksena on tietysti rajata kehitettävän ohjelmiston toiminnallisuus.
							.facts
								a.btn.btn-default.btn-sm.facts--open-btn(role="button" data-toggle="collapse" href="#client-meeting-facts" aria-expanded="false" aria-controls="client-meeting-facts") 
									| Katso faktat 
									span.glyphicon.glyphicon-screenshot
								#client-meeting-facts.collapse.well
									h2.facts--title Hyvän asiakaspalaverin ainekset
									ul.facts--list
										li Ajoissa paikalla
										li Kaikki tuntee agendan
										li Hyvään ensivaikutelmaan vain 1 mahdollisuus
										li Kunkin organisaation kannattaa kutsua paikalle vain henkilöt, jotka tarvitsevat kokouksen antia. Siten ylimääräisiltä henkilöiltä ei mene turhaan aikaa. Lisäksi kokous on helpompi pitää kasassa.
										li Keskustelu molemminpuolista. Saadaan asiat selkeästi esille, ettei tule väärinkäsityksiä
										li Tekee muistiinpanoja

				.story
					.row
						.col-sm-12
							p Palaverin loppupuolella Ilari Oy:n edustajat ilmoittavat Pekka Oy:n vaatimusten olevan mahdottomia toteuttaa sellaisenaan. Kokousta isännöivä väki keventää tunnelmaa ja lupaa vierailleen, että laatii suunnitelman tuotteesta, jolla Pekka Oy: talous saadaan jaloilleen.
							.facts
								a.btn.btn-default.btn-sm.facts--open-btn(role="button" data-toggle="collapse" href="#bad-plan-facts" aria-expanded="false" aria-controls="bad-plan-facts") 
									| Katso faktat 
									span.glyphicon.glyphicon-screenshot
								#bad-plan-facts.collapse.well
									h2.facts--title Hyvän asiakaspalaverin ainekset
									ul.facts--list
										li Esitetään faktat ja kehitysideat
										li Kompromisseja
										li Palaverin lopuksi yhteenveto sovituista asioista (lisäneuvottelut?)
							img.img-responsive(src="images/bad-plan.jpg" alt="Bad plan")
							
		section.developer-working
			.container
				.row
					.col-sm-8.col-sm-offset-4
						h2.developer-working--title Nopeammin kuin toivoa saattaa Ilari Oy pitää asiantuntijapalaverin, jossa työntekijät lyövät viisaat päänsä yhteen selvittääkseen, mitä Pekka OY todellisuudessa tarvitsee.

		section.innovation
			.container
				.story
					.row
						.col-sm-6
							.row
								.col-sm-6
									img.img-responsive.story--minor-image(src="images/design1.jpg" alt="Design 1")
								.col-sm-6
									img.img-responsive.story--minor-image(src="images/design2.jpg" alt="Design 2")
							.row
								.col-sm-12
									img.img-responsive(src="images/design3.jpg" alt="Design 3")
						.col-sm-6
							h2 Mikä onkaan se innovaatio, jolla romukoppaan päätynyt ERP korvataan?
							p Lopulta kun uusi ehdotus on mustaa valkoisella, Ilari Oy ottaa yhteyttä asiakkaaseen.
							p Osapuolet kohtaavat uudelleen ja Pekka Oy:n edustajille valaistaan kehitetty ehdotus yksityiskohtaisesti ja ollaan valmiita vastaamaan mahdollisiin lisäkysymyksiin. Palaverin jälkeen Pekka Oy:n edustajat palaavat omaan päämajaansa ja yhtiön sisäiset neuvottelut Ilari Oy:n ideasta voivat alkaa.
				.story
					.row
						.col-sm-12
							img.img-responsive(src="images/pekka-meeting.jpg" alt="Pekka meeting")
					.row
						.col-sm-12
							h2 Pekka Oy:n työntekijät neuvottelevat Ilari Oy:n tarjouksesta...
							p ... mutta samaan aikaan puntaroivat myös muita, kilpailevien yritysten palveluja. Kylmän matematiikan ja helmitaulun opastamana päätös valmistuu pienin mutta varmin askelein. Pekka Oy päättää näyttää vihreätä valoa Ilari Oy:n ehdotukselle.
		section.last-call
			h2.last-call--title Puhelinlangat laulaa ja uuden palaverin paikka ja aika sovitaan

		section.contract
			.container
				.story
					.row
						.col-sm-12
							h2 Kolmas kerta toden sanoo
							p Tuoreimmassa palaverissa osapuolet vihdoin pääsevät yhteisymmärrykseen hankkeen sisällöstä ja kehitystyö saa lähtölaukauksen.
							img.img-responsive(src="images/handshake.jpg" alt="Handshake")