doctype html
html
	head
		title Communitcation
		meta(charset="UTF-8")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		link(rel="stylesheet" href="stylesheets/main.css")
	body
		header.header
			h1.header--title Palaverit ja viestintä
		section.problem
			.container
				.row
					.col-sm-8
						.story
							h2 On kolea Tammikuinen päivä...
							p ... ja Pekka Oy:n idyllisissä tiloissa TJ Pekka Pekkonen silmäilee tarkkaavaisesti yrityksensä tuoreita talouslaskelmia. Nämä synkät luvut ovat vieneet lujana miehenä tunnetun Pekkosen yöunet tullessaan ja mies toteaakin, että uusien tuulien on aika alkaa puhaltaa, jotta yritys selviytyisi alkavasta vuodesta. TJ Pekkonen päättääkin investoida järjestelmään, tarkoituksenaan tehostaa hänen ja työntekijöidensä tehokkuutta.
							p Keskusteltuaan henkilöstön kanssa eri mahdollisuuksista lämpöisen kahvikupposen ääressä Pekka valitsee Ilari Oy:n järjestelmä kehittäjäkseen.
						.facts
							a.btn.btn-default.btn-sm.facts--open-btn(role="button" data-toggle="collapse" href="#problem-facts" aria-expanded="false" aria-controls="problem-facts") 
								| Katso faktat 
								span.glyphicon.glyphicon-screenshot
							#problem-facts.collapse.well
								h2.facts--title Yritys A tarvitsee uuden järjestelmän tehostaakseen toimintaansa
								ul.facts--list
									li Otettava selvää alan yrityksistä
									li Ilmoitettava alaisille tulevista muutoksista ja oltava valmis kuuntelemaan heidän kantansa.
									li Huomioon tulee ottaa myös seikka, että onko siirtymä edes taloudellisesti kannattava; tuleeko vanha systeemi sittenkin halvemmaksi?  
					.col-sm-4
						img.img-responsive(src="images/problem.jpg" alt="Problem")
		section.first-call
			.first-call--overlay
			h2.first-call--title Pekka ottaa yhteyttä Ilari Raijas OY:seen. Toisessa päässä puhelimeen vastaa guru...

		section.developer
			.container
				.story
					.row
						.col-sm-5
							img.img-responsive(src="images/ilari.jpg" alt="Ilari")
						.col-sm-7
							h2 Ilari lukeutuu Linus Torvaldsin kaltaisiin...
							p ... tietotekniikan suurmiehiin.  Pitkän ja antoisan keskustelun jälkeen herrat sopivat palaverista, jossa kaksikko joukkoineen tullee erittelemään yhteistyönsä pelisäännöt.
				.story
					.row
						.col-sm-7
							h2 Seuraavana päivänä kukonlaulun aikaan...
							p ... Ilari Oy:n konttorissa Ilari kutsuu omat asiantuntijansa neuvottelupöydän ääreen. Aikainen ajankohta ja pieni varoitusaika aiheuttaa työntekijöissä pientä närää, jonka Ilari huomaa. Pitkän pöydän päästä johtaja pahoittelee tilannetta ystävällisesti. Pian osanottajien ärtymys alkaa laantua ja kertoessa Pekka Oy:n hälyttävästä tilanteesta saa Ilari huoneessa täyden huomion ja tuen. Seuraavien työntäyteisten tuntien aikana tulevalle yritysten väliselle palaverille laaditaan ohjelma.
							.facts
								a.btn.btn-default.btn-sm.facts--open-btn(role="button" data-toggle="collapse" href="#developer-facts" aria-expanded="false" aria-controls="developer-facts") 
									| Katso faktat 
									span.glyphicon.glyphicon-screenshot
								#developer-facts.collapse.well
									h2.facts--title Yritys A tarvitsee uuden järjestelmän tehostaakseen toimintaansa
									ul.facts--list
										li Työntekijöiden nopeaa reagointia kannattaa kiittää ja painottaa tilauksen tärkeyttä, jotta nopea aikataulu sulatetaan paremmin
										li Valmistellaan ideat
										li Kysytään itseltä, mitä palaverilta odotetaan sen päätyttyä ja valmistaudutaan sen mukaisesti
										li Tutustutaan Pekka OY:een, tunnetaan yritys…
										li Monimuotoisuuteen valmistautuminen (kulttuurierot)

						.col-sm-5
							img.img-responsive(src="images/developer-meeting.jpg" alt="Developer meeting")


				
			section.client-meeting