@import url("https://fonts.googleapis.com/css?family=Roboto|Pacifico|Libre+Baskerville:400,400italic");
/* line 1, ../sass/sections/_header-section.sass */
.header {
  height: 100vh;
  background: url("../images/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
/* line 9, ../sass/sections/_header-section.sass */
.header--title {
  text-align: center;
  margin: 0;
  font-size: 70px;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  color: #fff;
  padding: 20px 15px;
}

/* line 1, ../sass/sections/_first-call.sass */
.first-call {
  height: 400px;
  background: url("../images/call.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  display: flex;
  align-items: center;
  position: relative;
}
/* line 12, ../sass/sections/_first-call.sass */
.first-call--title {
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  z-index: 1;
  padding: 0 15px;
}

/* line 1, ../sass/sections/_client-meeting.sass */
.client-meeting {
  height: 500px;
  background: url("../images/client-meeting.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}
/* line 11, ../sass/sections/_client-meeting.sass */
.client-meeting--title {
  color: #fff;
  z-index: 1;
  width: 100%;
  text-align: center;
  padding: 0 15px;
}

/* line 1, ../sass/sections/_developer-working.sass */
.developer-working {
  height: 600px;
  background: url("../images/working.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
/* line 10, ../sass/sections/_developer-working.sass */
.developer-working--title {
  text-align: right;
  line-height: 50px;
}

@media (max-width: 1199px) {
  /* line 16, ../sass/sections/_developer-working.sass */
  .developer-working {
    background-position: 80% center;
  }
  /* line 19, ../sass/sections/_developer-working.sass */
  .developer-working--title {
    text-align: left;
  }
}
/* line 1, ../sass/sections/_last-call.sass */
.last-call {
  height: 500px;
  background: url("../images/last-call.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
}
/* line 8, ../sass/sections/_last-call.sass */
.last-call--title {
  color: #fff;
  text-align: center;
}

/* line 1, ../sass/sections/_every-meeting.sass */
.every-meeting {
  background: #34495e;
  color: #fff;
}
/* line 5, ../sass/sections/_every-meeting.sass */
.every-meeting--title {
  font-size: 50px;
  text-align: center;
  margin-bottom: 70px;
}

/* line 1, ../sass/sections/_expert.sass */
.expert {
  background: #95a5a6;
  color: #fff;
}

/* line 3, ../sass/base/_typography.sass */
body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  position: relative;
}

/* line 8, ../sass/base/_typography.sass */
h2 {
  margin: 20px 0;
}

/* line 1, ../sass/modules/_facts.sass */
.facts {
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

/* line 1, ../sass/modules/_story.sass */
.story {
  font-family: "Libre Baskerville", serif;
}
/* line 4, ../sass/modules/_story.sass */
.story p {
  line-height: 29px;
  margin-bottom: 20px;
}
/* line 8, ../sass/modules/_story.sass */
.story + .story {
  margin-top: 75px;
}
/* line 11, ../sass/modules/_story.sass */
.story--minor-image {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  /* line 18, ../sass/modules/_story.sass */
  .story + .story {
    margin-top: 0;
  }
  /* line 21, ../sass/modules/_story.sass */
  .story--minor-image {
    display: none;
  }
}
/* line 1, ../sass/modules/_overlays.sass */
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* line 8, ../sass/modules/_overlays.sass */
.overlay.overlay-black {
  background: rgba(0, 0, 0, 0.4);
}

/* line 1, ../sass/modules/_modal.sass */
.modal-content {
  border-radius: 0;
}

/* line 4, ../sass/modules/_modal.sass */
.modal-header {
  border-left: 6px solid #3498db;
}

/* line 7, ../sass/modules/_modal.sass */
.modal-title {
  font-size: 25px;
}

/* line 10, ../sass/modules/_modal.sass */
.modal-body {
  padding: 30px 15px;
}

/* line 1, ../sass/modules/_navbar.sass */
.navbar {
  border-top: 4px solid #3498db;
}

/* line 4, ../sass/modules/_navbar.sass */
.navbar-default .navbar-nav > .active > a {
  color: #3498db;
}

/* line 1, ../sass/layout/_section.sass */
section {
  padding: 100px 0;
}

@media (max-width: 767px) {
  /* line 7, ../sass/layout/_section.sass */
  section {
    padding: 15px 0;
  }
}
