.developer-working
	height: 600px
	background: url("../images/working.jpg")
	background-size: cover
	background-repeat: no-repeat
	background-attachment: fixed
	display: flex
	align-items: center

	&--title
		text-align: right
		line-height: 50px