.first-call
	height: 400px
	background: url("../images/call.jpg")
	background-size: cover
	background-repeat: no-repeat
	background-attachment: fixed
	display: flex
	align-items: center
	position: relative

	&--title
		color: #fff
		width: 100%
		text-align: center
		padding: 20px 0
		z-index: 1

	&--overlay
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		background: rgba(#000, 0.4)